.navigationMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  margin: 0 auto;
}
.contianer {
  max-width: 1660px;
  padding: 0 30px;
  margin: 0 auto;
  @media (max-width: 945px) {
    max-width: 750px;
    padding: 0px 10px;
    margin: 0 auto;
  }
  @media (max-width: 800px) {
    max-width: 570px;
  }
  @media (max-width: 620px) {
    max-width: 400px;
  }
  @media (max-width: 460px) {
    max-width: 330px;
  }
  @media (max-width: 380px) {
    max-width: 310px;
  }
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 100px;
  @media (max-width: 1350px) {
    gap: 60px;
  }
  @media (max-width: 950px) {
    gap: 5px;
  }
}

nav ul li {
  display: inline-block;
  background-color: #ffffff;
}

nav a {
  display: block;
  padding: 0 10px;
  color: #000000;
  font-size: 19px;
  line-height: 50px;
  text-decoration: none;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  border-radius: 5px;
  transition: background 0.2s;
}

.icons {
  display: flex;
  gap: 10px;
  font-size: 30px;
  cursor: pointer;
  .bx {
    margin-right: 0px !important;
    display: block;
    width: 25px;
    height: 25px;
  }
}
//   ul {

//     position: absolute;
//     padding: 0;
//     border-radius: 5px;
//     transition: opacity 0.2s, visibility 0.2s;

//     li {
//       margin: -2px 0 0 -2px;
//       a {
//         color: #000000;
//       }
//     }
//   }
//   &:hover {
//     ul {
//       display: grid;
//       grid-template-columns: repeat(2, 1fr);
//       width: 700px;
//       height: 250px;
//       column-gap: 10px;
//       visibility: visible;
//       opacity: 1;
//       background-color: #eeeeee;
//       z-index: 0;
//       margin-left: -200px;
//       margin-top: 10px;
//       .liTop {
//         position: absolute;
//         top: 100px;
//       }
//       li {
//         position: relative;
//         width: 300px;
//         top: 2px;
//         margin-left: 10px;
//         height: 100px;
//       background-color: #eeeeee;

//         ul {
//           position: absolute;
//           background-color: #eeeeee;
//           width: 0;
//           li {
//             width: 325px;
//             position: absolute;
//             left: 195px;
//             top: -15px;

//             a {
//               font-size: 13px;
//               font-weight: 300;
//               line-height: 25px;
//             }
//           }

//         }
//       }
//     }
//   }
// }

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  // box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  border: 0;
}

.header-section {
  display: flex;
  width: 100%;
  // position: relative;
  padding: 0 30px;
  & img {
    height: 55px;
    margin-right: 105px;
    width: 55px;
    @media (max-width: 943px) {
      display: none;
    }
    @media (max-width: 620px) {
      margin-left: -10px;
    }
    @media (max-width:1180px) {
     width: 40px;
     height: 40px;
    }
  }
}

.Logo {
  display: none;
}
.navbar {
  display: none;
}

.logo {
  display: flex;
}
.tel {
  display: none;
}

.mobile_btn {
  display: none;
}

@media only screen and (max-width: 943px) {
  .tel {
    display: flex;
    justify-content: center;
    align-items: center;
    .telHeader {
      font-weight: 600;
    }
  }

  .dropdown {
    position: relative;
    // top: 50px;
    margin: 0 auto;
    width: 220px;
    // height: 100vh;
    // border: 1px solid #666;
    background: #ffffff;
  }

  .dropdown__text {
    color: rgb(0, 0, 0);
    padding: 10px 16px;
    cursor: pointer;
    height: auto;
    font-weight: 400;
    font-size: 20px;
  }

  .dropdown__text:hover {
    color: rgb(0, 0, 0);
    font-weight: 600;
  }

  .dropdown__text:after {
    content: '';
    transition: all 0.3s;
    border: solid #ccc;
    border-width: 0 1px 1px 0;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    -webkit-transform: rotate(45deg);
    // height: 200px;
  }

  .dropdown.active .dropdown__text:after {
    margin-top: 15px;
    -webkit-transform: rotate(-135deg);
  }

  .dropdown__items {
    position: relative;
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    transition: max-height 0.6s ease;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
  }

  .dropdown.active .dropdown__items {
    visibility: visible;

    border-top: 1px solid #3c3c3c59;
    height: 1000px;
    min-height: 400px;
    opacity: 1;
    transition: max-height 0.7s, opacity 3s, visibility 4s ease;
  }

  .dropdown__item {
    cursor: pointer;
    padding: 10px 18px;
  }

  .dropdown__item:not(:last-child) {
    border-bottom: 1px solid #3c3c3c1a;
  }

  .dropdown__item:hover {
    font-weight: 500;
  }

  .navbar {
    display: block;
    width: 100vw;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    height: 62px;
    align-items: center;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    // padding: 0.7rem;
  }

  .navbar .nav-container a:hover {
    font-weight: bolder;
  }

  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }

  .logo {
    position: absolute;
    top: -7px;
    left: 15px;
    font-size: 1.2rem;
    color: #0e2431;

    @media (max-width:1180px) {
     top: 12px;
     left: 8px;
    }
    & .Logo {
      display: block;
      // width: 160px;
      // height: 80px;
    }
  }

  .mobile_btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 17px;
    cursor: pointer;
    z-index: 10;
  }

  .telo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -200%;
    top: -2px;
    z-index: 10;
    padding-top: 10px;
    transition: left 1s;
    @media (max-width: 400px) {
      // top: 70px;
      flex-direction: column;
      // .telHeader {
      //   line-height: 0;
      // }
    }
  }
  
  .telo_active {
    left: -38px;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    overflow: scroll;
    left: -200%;
    right: 0;
    top: -50px;
    bottom: 0;
    width: 120%;
    height: 120vh;
    background-color: #ffffff;
    z-index: 10;
    transition: left 1s;
    gap: 10px;
    & li {
      text-align: center;
      margin-left: -100px;
      display: block !important;
    }
  }

  .active {
    left: 0;
  }

  .navigationMenu ul li {
    display: none;
    background-color: #ffffff;
  }
}

@media only screen and (max-width: 769px) {
  .tel {
    display: flex;
  }
}

@media only screen and (max-width: 620px) {
  .tel {
    display: none;
  }
  .Logo {
    margin-left: -50px;
  }
  .menu-items {
    & li {
      text-align: center;
      margin-left: -60px;
    }
  }
}

.w55 {
  @media (max-width:1180px) {
  max-width: 80px;
}
@media (max-width: 950px) {
  display: none;  
}
}